
{% extends 'base/page.html.twig' %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Delete {{ item }}</h5>
        <div class="card-body">
            <p>Are you sure you want to delete <kbd>{{ item }}<a href="javascript:copy()">&nbsp;<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon tag-icon icon-xxs"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"></path><path d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"></path></svg></a></kbd> ?</p>
            <p class="card-text">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-danger">Delete {{ item }}</button>
                {{ form_end(form) }}
            </p>
        </div>
    </div>
{% endblock %}

{% block javascripts_footer %}
<script>
function copy() {
  navigator.clipboard.writeText("{{ item }}");
} 
</script>
{% endblock %}