{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "Domains"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Domain"|trans }}</th>
					<th>{{ "Logo"|trans }}</th>
					<th>{{ "Certificate"|trans }}</th>
					<th>{{ "DMARC reports"|trans }}</th>
					<th>{{ "SMTP-TLS reports"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for domain in domains %}
				<tr>
					<td><span class="text-secondary">{{ domain.id }}</span></td>
					<td>{{ domain.fqdn }}</td>
					<td>{{ domain.bimisvgfile|raw }}</td>
					<td>
						{% if bimivmcinfo[domain.id] is defined %}
							{% if bimivmcinfo[domain.id]['validTo_time_t'] > now %}
								<span class="badge bg-green  me-1 text-white">{{ bimivmcinfo[domain.id]['validTo_time_t']|date("d-M-Y") }}</span>
							{% else %}
								<span class="badge bg-red  me-1 text-white">{{ bimivmcinfo[domain.id]['validTo_time_t']|date("d-M-Y") }}</span>
							{% endif %}
						{% endif %}
					</td>
					<td>
						{% if domain.dmarc_reports|length > 0 %}<span class="badge bg-blue  me-1 text-white">{{ domain.dmarc_reports|length }}</span>{% endif %}
					</td>
					<td>
						{% if domain.smtptls_policies|length > 0 %}<span class="badge bg-blue  me-1 text-white">{{ domain.smtptls_policies|length }}</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_domains_edit', {id: domain.id}) }}">{{ "Edit"|trans }}</a>
								<a class="dropdown-item " href="{{ path('app_domains_delete', {id: domain.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="card-footer d-flex align-items-center">
		<p class="m-0 text-secondary">Showing <span>{{ pages.start }}</span> to <span>{{ pages.end }}</span> of <span>{{ pages.totaldomains }}</span> entries</p>
		<ul class="pagination m-0 ms-auto">
			{% if pages.prev %}
				<li class="page-item">
					<a class="page-link" href="{{ path('app_domains', {page: pages.page - 1, perpage: pages.perpage }) }}" tabindex="-1" aria-disabled="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
						prev
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#" tabindex="-1" aria-disabled="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M15 6l-6 6l6 6"></path></svg>
						prev
					</a>
				</li>
			{% endif %}
			{% if pages.total <= 5 %}
				{% for page in 1..pages.total %}
				<li class="page-item {% if page == pages.page %}active{% endif %}"><a class="page-link" href="{{ path('app_domains', {page: page, perpage: pages.perpage }) }}">{{ page }}</a></li>
				{% endfor %}
			{% else %}
				<li class="page-item {% if page == 1 %}active{% endif %}"><a class="page-link" href="{{ path('app_domains', {page: page, perpage: pages.perpage }) }}">1</a></li>

				{% if pages.total >= 9 %}
				{% set start_page = max(2, pages.page - 3) %}
				{% set end_page = min((pages.total -1 ), pages.page + 3) %}
				{% if start_page > 2 %}
					...
				{% endif %}
				{% for page in start_page..end_page %}
					<li class="page-item {% if page == pages.page %}active{% endif %}"><a class="page-link" href="{{ path('app_domains', {page: page, perpage: pages.perpage }) }}">{{ page }}</a></li>
				{% endfor %}
				{% if end_page < (pages.total -1) %}
					...
				{% endif %}
				{% else %}
				{% for page in 2 .. (pages.total -1) %}
					<li class="page-item {% if page == pages.page %}active{% endif %}"><a class="page-link" href="{{ path('app_domains', {page: page, perpage: pages.perpage }) }}">{{ page }}</a></li>
				{% endfor %}
				{% endif %}

				<li class="page-item {% if pages.page == pages.total %}active{% endif %}"><a class="page-link" href="{{ path('app_domains', {page: pages.total, perpage: pages.perpage }) }}">{{ pages.total }}</a></li>
			{% endif %}

			{% if pages.next %}
				<li class="page-item {% if pages.page == pages.total %}active{% endif %}">
					<a class="page-link" href="{{ path('app_domains', {page: pages.page + 1, perpage: pages.perpage }) }}">
						next
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
					</a>
				</li>
			{% else %}
				<li class="page-item disabled">
					<a class="page-link" href="#">
						next
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M9 6l6 6l-6 6"></path></svg>
					</a>
				</li>
			{% endif %}
		</ul>
	</div>
</div>
{% endblock %}
