{% extends 'base.html.twig' %}

{% block title %}Domains{% endblock %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-xl-12 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">Domains</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Domain FQDN</th>
                                            <th scope="col">MX Records</th>
                                            <th scope="col">Total DMARC reports</th>
                                            <th scope="col">Total SMTP-TLS policies</th>
                                            <th scope="col">Action</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for domain in domains %}
                                          <tr>
                                            <th scope="row">{{ domain.id }}</th>
                                            <td>{{ domain.fqdn }}</td>
                                            <td>
                                              {% for mx in domain.mxrecords %}
                                                {{ mx.name }}<br>
                                              {% endfor %}
                                            </td>
                                            <td>{{ domain.dmarc_reports|length }}</td>
                                            <td>{{ domain.smtptls_policies|length }}</td>
                                            <td>
                                                <a href="{{ path('app_domains_edit', {id: domain.id}) }}" class="btn btn-sm btn-secondary">Edit</a>
                                                {# <a href="{{ path('a4pp_domains_delete', {id: domain.id}) }}" class="btn btn-sm btn-danger"  onclick="return confirm('{{'Are you sure? this will also delete all its reports and can not be undone'|trans}}');">Delete</a> #}
                                            </td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <div class="clearfix">
                                  <span class="float-start">&nbsp;</span>
                                  <span class="float-end">
                                  {% if pages.prev %}
                                    <a href="{{ path('app_logs', {page: pages.page - 1, perpage: pages.perpage }) }}" class="btn btn-sm btn-secondary">&lt;</a>
                                  {% else %}
                                    <a href="#" class="btn btn-sm btn-light" disabled>&lt;</a>
                                  {% endif %}
                                  {% if pages.next %}
                                    <a href="{{ path('app_logs', {page: pages.page + 1, perpage: pages.perpage }) }}" class="btn btn-sm btn-secondary">&gt;</a>
                                  {% else %}
                                    <a href="#" class="btn btn-sm btn-light" disabled>&gt;</a>
                                  {% endif %}
                                  </span>
                                </div>
                                
                            </div>
                        </div>
                    </div>
{% endblock %}
