{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "Domains"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Domain"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Logo"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Certificate"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "DMARC reports"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "SMTP-TLS reports"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for domain in domains %}
				<tr>
					<td><span class="text-secondary">{{ domain.id }}</span></td>
					<td>{{ domain.fqdn }}</td>
					<td class="d-none d-lg-table-cell bimisvg"><span class="avatar">{{ domain.bimisvgfile|raw }}</span></td>
					<td class="d-none d-lg-table-cell">
						{% if bimivmcinfo[domain.id] is defined %}
							{% if bimivmcinfo[domain.id]['validTo_time_t'] > now %}
								<span class="badge bg-green  me-1 text-white">{{ bimivmcinfo[domain.id]['validTo_time_t']|date("d-M-Y") }}</span>
							{% else %}
								<span class="badge bg-red  me-1 text-white">{{ bimivmcinfo[domain.id]['validTo_time_t']|date("d-M-Y") }}</span>
							{% endif %}
						{% endif %}
					</td>
					<td class="d-none d-lg-table-cell">
						{% if domain.dmarc_reports|length > 0 %}<span class="badge bg-blue  me-1 text-white">{{ domain.dmarc_reports|length }}</span>{% endif %}
					</td>
					<td class="d-none d-lg-table-cell">
						{% if domain.smtptls_policies|length > 0 %}<span class="badge bg-blue  me-1 text-white">{{ domain.smtptls_policies|length }}</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_domains_edit', {id: domain.id}) }}">{{ "Edit"|trans }}</a>
								<a class="dropdown-item" href="{{ path('app_domains_check', {id: domain.id}) }}">{{ "Check"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_domains_delete', {id: domain.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'base/pagination.html.twig' with { basepath: path('app_domains') } %}
</div>
{% endblock %}
