{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "Logs"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "State"|trans }}</th>
					<th>{{ "Date"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Time"|trans }}</th>
					<th>{{ "Mails"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Message"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for log in logs %}
				<tr>
					<td><span class="text-secondary">{{ log.id }}</span></td>
					<td>
					{% if log.state == constant('App\\Enums\\StateType::Fail') %}
						<span class="badge bg-red"></span>
					{% elseif log.state == constant('App\\Enums\\StateType::Warn') %}
						<span class="badge bg-yellow"></span>
					{% elseif log.state == constant('App\\Enums\\StateType::Good') %}
						<span class="badge bg-green"></span>
					{% else %}
						<span class="badge bg-gray"></span>
					{% endif %}
					</td>
					<td>{{ log.time|date("d-M-Y") }}</td>
					<td class="d-none d-lg-table-cell">{{ log.time|date("H:i:s") }}</td>
					<td><span class="badge bg-blue me-1 text-white">{{ log.mailcount }}</span></td>
					<td class="d-none d-lg-table-cell">{{ log.message }} </td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_logs_details', {id: log.id}) }}">{{ "Details"|trans }}</a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'base/pagination.html.twig' with { basepath: path('app_logs') } %}
</div>
{% endblock %}
