{% extends 'base/page.html.twig' %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest DMARC reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					<th>{{ "Id"|trans }}</th>
					<th class="w-1">{{ "Messages"|trans }}</th>
					<th>{{ "SPF"|trans }}</th>
					<th>{{ "DKIM"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for report in dmarcreports %}
				<tr>
					<td>
						<span class="text-secondary">{{ report.id }}</span>
						{% if app.user in report.seen %}{% else %}<span class="badge bg-yellow"></span>{% endif %}
					</td>
					<td><span class="badge bg-blue me-1 text-white">{{ report.dmarc_records.count }}</span></td>
						{% set dkim_pass_count = 0 %}
						{% set dkim_fail_count = 0 %}
						{% set spf_pass_count = 0 %}
						{% set spf_fail_count = 0 %}
						{% for record in report.dmarc_records %}
							{% if record.policydkim == "pass" %}
								{% set dkim_pass_count = dkim_pass_count + 1 %}
							{% else %}
								{% set dkim_fail_count = dkim_fail_count + 1 %}
							{% endif %}
							{% if record.policyspf == "pass" %}
								{% set spf_pass_count = spf_pass_count + 1 %}
							{% else %}
								{% set spf_fail_count = spf_fail_count + 1 %}
							{% endif %}
						{% endfor %}
					<td>
						{% if dkim_pass_count > 0 %}<span class="badge bg-green  me-1 text-white">{{ dkim_pass_count }}</span>{% endif %}
						{% if dkim_fail_count > 0 %}<span class="badge bg-red  me-1 text-white">{{ dkim_fail_count }}</span>{% endif %}
					</td>
					<td>
						{% if spf_pass_count > 0 %}<span class="badge bg-green  me-1 text-white">{{ spf_pass_count }}</span>{% endif %}
						{% if spf_fail_count > 0 %}<span class="badge bg-red  me-1 text-white">{{ spf_fail_count }}</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_dmarc_reports_report', {report: report.id}) }}">{{ "Open"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_dmarc_reports_delete', {report: report.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
                                </div>
                                <a href="{{ path('app_dmarc_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest SMTP-TLS reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Messages"|trans }}</th>
					<th>{{ "Policy"|trans }}</th>
					<th>{{ "Type"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for report in smtptlsreports %}
				<tr>
					<td>
						<span class="text-secondary">{{ report.id }}</span>
						{% if app.user in report.seen %}{% else %}<span class="badge bg-yellow"></span>{% endif %}
					</td>
					<td><span class="badge bg-blue me-1 text-white">{{ report.smtptls_policies.count }}</span></td>
					{# <td>{{ report.domain.fqdn }}</td> #}
						{% set successfulcount = 0 %}
						{% set failedcount = 0 %}
						{% set sts = 0 %}
						{% set sts_v_empty = 0 %}
						{% set sts_v1 = 0 %}
						{% set tlsa = 0 %}
						{% set mode_enforce = 0 %}
						{% set mode_testing = 0 %}
						{% set mode_disabled = 0 %}
						{% for policy in report.smtptls_policies %}
							{% set successfulcount = successfulcount + policy.summarysuccessfulcount %}
							{% set failedcount = failedcount + policy.summaryfailedcount %}
							{% if policy.policytype == 'sts' %}
								{% set sts = sts + 1 %}
								{% if policy.policystringversion == 'STSv1' %}
									{% set sts_v1 = sts_v1 + 1 %}
								{% else %}
									{% set sts_v_empty = sts_v_empty + 1 %}
								{% endif %}
							{% endif %}
							{% if policy.policytype == 'tlsa' %}
								{% set tlsa = tlsa + 1 %}
							{% endif %}
							{% if policy.policystringmode == 'enforce' %}
								{% set mode_enforce = mode_enforce + 1 %}
							{% elseif policy.policystringmode == 'testing' %}
								{% set mode_testing = mode_testing + 1 %}
							{% else %}
								{% set mode_disabled = mode_disabled + 1 %}
							{% endif %}
						{% endfor %}
					<td>
						{% if successfulcount > 0 %}<span class="badge bg-green  me-1 text-white">{{ successfulcount }}</span>{% endif %}
						{% if failedcount > 0 %}<span class="badge bg-red  me-1 text-white">{{ failedcount }}</span>{% endif %}
					</td>
					<td>
						{% if sts > 0 %}<span class="badge bg-green  me-1 text-white">STS</span>{% endif %}
						{% if sts_v_empty > 0 %}<span class="badge bg-red  me-1 text-white">NoVersion</span>{% endif %}
						{% if sts_v1 > 0 %}<span class="badge bg-green  me-1 text-white">STSv1</span>{% endif %}
						{% if tlsa > 0 %}<span class="badge bg-green  me-1 text-white">TLSA</span>{% endif %}
						{% if mode_enforce > 0 %}<span class="badge bg-green  me-1 text-white">Enforce</span>{% endif %}
						{% if mode_testing > 0 %}<span class="badge bg-yellow  me-1 text-white">Testing</span>{% endif %}
						{% if mode_disabled > 0 %}<span class="badge bg-red  me-1 text-white">Disabled</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_smtptls_reports_report', {report: report.id}) }}">{{ "Open"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_smtptls_reports_delete', {report: report.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
                                </div>
                                <a href="{{ path('app_smtptls_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  {% if is_granted('ROLE_ADMIN') %}
                  <div class="row">
                    <div class="col-12 col-xl-12 mb-12 mb-lg-12">
                        <div class="card">
                            <h5 class="card-header">Latest logs</h5>
                            <div class="card-body">
                                <div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "State"|trans }}</th>
					<th>{{ "Date"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Time"|trans }}</th>
					<th>{{ "Mails"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Message"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for log in logs %}
				<tr>
					<td><span class="text-secondary">{{ log.id }}</span></td>
					<td>
					{% if log.state == constant('App\\Enums\\StateType::Fail') %}
						<span class="badge bg-red"></span>
					{% elseif log.state == constant('App\\Enums\\StateType::Warn') %}
						<span class="badge bg-yellow"></span>
					{% elseif log.state == constant('App\\Enums\\StateType::Good') %}
						<span class="badge bg-green"></span>
					{% else %}
						<span class="badge bg-gray"></span>
					{% endif %}
					</td>
					<td>{{ log.time|date("d-M-Y") }}</td>
					<td class="d-none d-lg-table-cell">{{ log.time|date("H:i:s") }}</td>
					<td><span class="badge bg-blue me-1 text-white">{{ log.mailcount }}</span></td>
					<td class="d-none d-lg-table-cell">{{ log.message }} </td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_logs_details', {id: log.id}) }}">{{ "Details"|trans }}</a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
                                </div>
                                <a href="{{ path('app_logs') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                {% endif %}
{% endblock %}
