{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest DMARC reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col" class="d-none d-lg-table-cell">Id</th>
                                            <th scope="col">Domain</th>
                                            <th scope="col">Reporter</th>
                                            <th scope="col" class="d-none d-lg-table-cell">Messages</th>
                                            <th scope="col" class="d-none d-lg-table-cell">Results</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for report in dmarcreports %}
                                          <tr {% for user in report.seen %}{% else %}class="table-warning"{% endfor %}>
                                            <th scope="row" class="d-none d-lg-table-cell">{{ report.id }}</th>
                                            <td>{{ report.domain.fqdn }}</td>
                                            <td>{{ report.organisation }}</td>
                                            <td class="d-none d-lg-table-cell">{{ report.dmarc_records.count }}</td>
                                            <td class="d-none d-lg-table-cell">
                                              {% set dkim_pass = true %}
                                              {% set spf_pass = true %}
                                              {% for record in report.dmarc_records %}
                                                  {% if record.policydkim != "pass" %}
                                                    {% set dkim_pass = false %}
                                                  {% endif %}
                                                  {% if record.policyspf != "pass" %}
                                                    {% set spf_pass = false %}
                                                  {% endif %}
                                              {% endfor %}
                                              <span class="btn btn-sm btn-{% if spf_pass %}success{% else %}danger{% endif %}">spf</span>
                                              <span class="btn btn-sm btn-{% if dkim_pass %}success{% else %}danger{% endif %}">dkim</span>
                                            </td>
                                            <td class="text-end">
                                              <a href="{{ path('app_dmarc_reports_report', {report: report.id}) }}" class="btn btn-sm btn-primary" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Open Report">
                                                <svg height='20px' width='20px' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
                                                </svg>
                                              </a>
                                            </td>
                                          </tr>
                                          <tr class="d-table-row d-lg-none {% for user in report.seen %}{% else %} table-warning{% endfor %}">
                                            <td colspan="3">
                                              {% set dkim_pass = true %}
                                              {% set spf_pass = true %}
                                              {% for record in report.dmarc_records %}
                                                  {% if record.policydkim != "pass" %}
                                                    {% set dkim_pass = false %}
                                                  {% endif %}
                                                  {% if record.policyspf != "pass" %}
                                                    {% set spf_pass = false %}
                                                  {% endif %}
                                              {% endfor %}
                                              <span class="btn btn-sm btn-{% if spf_pass %}success{% else %}danger{% endif %}">spf</span>
                                              <span class="btn btn-sm btn-{% if dkim_pass %}success{% else %}danger{% endif %}">dkim</span>
                                            </td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_dmarc_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest SMTP-TLS reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col" class="d-none d-lg-table-cell">Id</th>
                                            <th scope="col">Domain</th>
                                            <th scope="col">Reporter</th>
                                            <th scope="col">Results</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for report in smtptlsreports %}
                                          <tr {% for user in report.seen %}{% else %}class="table-warning"{% endfor %}>
                                            <th scope="row" class="d-none d-lg-table-cell">{{ report.id }}</th>
                                            <td>
                                              {% for policy in report.smtptls_policies %}
                                                {{policy.policydomain.fqdn}}<br>
                                              {% endfor %}
                                            </td>
                                            <td>{{ report.organisation }}</td>
                                            <td class="d-none d-lg-table-cell">
                                              {% set sts_type = false %}
                                              {% set sts_version = true %}
                                              {% set sts_mode = true %}
                                              {% for policy in report.smtptls_policies %}
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}secondary{% else %}success{% endif %}">{{ policy.summarysuccessfulcount }} Successful</span>
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}danger{% else %}success{% endif %}">{{ policy.summaryfailedcount }} Failed</span>
                                                  {% if policy.policytype == 'no-policy-found' %}
                                                    <span class="btn btn-sm btn-danger">no-policy-found</span>
                                                  {% else %}
                                                    {% if policy.policytype == 'sts' %}
                                                      {% if policy.policystringversion == 'STSv1' %}
                                                        <span class="btn btn-sm btn-success">STSv1</span>
                                                      {% else %}
                                                        <span class="btn btn-sm btn-danger">Policy version empty</span>
                                                      {% endif %}
                                                      <span class="btn btn-sm btn-{% if policy.policystringmode == 'enforce' %}success{% elseif policy.policystringmode == 'testing' %}warning{% else %}danger{% endif %}">{% if policy.policystringmode %}{{ policy.policystringmode }}{% else %}Policy mode empty{% endif %}</span>
                                                    {% elseif policy.policytype == 'tlsa' %}
                                                      <span class="btn btn-sm btn-success">TLSA</span>
                                                    {% endif %}
                                                  {% endif %}
                                              <br>
                                              {% endfor %}
                                            </td>
                                            <td class="text-end">
                                              <a href="{{ path('app_smtptls_reports_report', {report: report.id}) }}" class="btn btn-sm btn-primary" class="btn btn-sm btn-primary" data-toggle="tooltip" data-placement="top" title="Open Report">
                                                <svg height='20px' width='20px' xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                  <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 9v.906a2.25 2.25 0 0 1-1.183 1.981l-6.478 3.488M2.25 9v.906a2.25 2.25 0 0 0 1.183 1.981l6.478 3.488m8.839 2.51-4.66-2.51m0 0-1.023-.55a2.25 2.25 0 0 0-2.134 0l-1.022.55m0 0-4.661 2.51m16.5 1.615a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V8.844a2.25 2.25 0 0 1 1.183-1.981l7.5-4.039a2.25 2.25 0 0 1 2.134 0l7.5 4.039a2.25 2.25 0 0 1 1.183 1.98V19.5Z" />
                                                </svg>
                                              </a>
                                            </td>
                                          </tr>
                                          <tr class="d-table-row d-lg-none {% for user in report.seen %}{% else %} table-warning{% endfor %}">
                                            <td colspan="3">
                                              {% set sts_type = false %}
                                              {% set sts_version = true %}
                                              {% set sts_mode = true %}
                                              {% for policy in report.smtptls_policies %}
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}secondary{% else %}success{% endif %}">{{ policy.summarysuccessfulcount }} Successful</span>
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}danger{% else %}success{% endif %}">{{ policy.summaryfailedcount }} Failed</span>
                                                  {% if policy.policytype == 'no-policy-found' %}
                                                    <span class="btn btn-sm btn-danger">no-policy-found</span>
                                                  {% else %}
                                                    {% if policy.policytype == 'sts' %}
                                                      {% if policy.policystringversion == 'STSv1' %}
                                                        <span class="btn btn-sm btn-success">STSv1</span>
                                                      {% else %}
                                                        <span class="btn btn-sm btn-danger">Policy version empty</span>
                                                      {% endif %}
                                                      <span class="btn btn-sm btn-{% if policy.policystringmode == 'enforce' %}success{% elseif policy.policystringmode == 'testing' %}warning{% else %}danger{% endif %}">{% if policy.policystringmode %}{{ policy.policystringmode }}{% else %}Policy mode empty{% endif %}</span>
                                                    {% elseif policy.policytype == 'tlsa' %}
                                                      <span class="btn btn-sm btn-success">TLSA</span>
                                                    {% endif %}
                                                  {% endif %}
                                              <br>
                                              {% endfor %}
                                            </td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_smtptls_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  {% if is_granted('ROLE_ADMIN') %}
                  <div class="row">
                    <div class="col-12 col-xl-12 mb-12 mb-lg-12">
                        <div class="card">
                            <h5 class="card-header">Latest logs</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col" class="d-none d-lg-table-cell">Id</th>
                                            <th scope="col">Date &amp; Time</th>
                                            <th scope="col">Message</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for log in logs %}
                                          <tr {% if log.success == false %}class="table-danger"{% endif %}>
                                            <th scope="row" class="d-none d-lg-table-cell">{{ log.id }}</th>
                                            <td>{{ log.time|date("d-M-Y H:i:s") }}</td>
                                            <td>{{ log.message }}</td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_logs') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                {% endif %}
{% endblock %}
