{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest DMARC reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Domain</th>
                                            <th scope="col">Reporter</th>
                                            <th scope="col">Messages</th>
                                            <th scope="col">Results</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for report in dmarcreports %}
                                          <tr {% if report.id not in dmarcreportsseen %}class="table-warning"{% endif%}>
                                            <th scope="row">{{ report.id }}</th>
                                            <td>{{ report.domain.fqdn }}</td>
                                            <td>{{ report.organisation }}</td>
                                            <td>{{ report.dmarc_records.count }}</td>
                                            <td>
                                              {% set dkim_pass = true %}
                                              {% set spf_pass = true %}
                                              {% for record in report.dmarc_records %}
                                                  {% if record.policydkim != "pass" %}
                                                    {% set dkim_pass = false %}
                                                  {% endif %}
                                                  {% if record.policyspf != "pass" %}
                                                    {% set spf_pass = false %}
                                                  {% endif %}
                                              {% endfor %}
                                              <span class="btn btn-sm btn-{% if spf_pass %}success{% else %}danger{% endif %}">spf</span>
                                              <span class="btn btn-sm btn-{% if dkim_pass %}success{% else %}danger{% endif %}">dkim</span>
                                            </td>
                                            <td><a href="{{ path('app_dmarc_reports_report', {report: report.id}) }}" class="btn btn-sm btn-primary">Open Report</a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_dmarc_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6 mb-4 mb-lg-4">
                        <div class="card">
                            <h5 class="card-header">Latest SMTP-TLS reports</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Domain</th>
                                            <th scope="col">Reporter</th>
                                            <th scope="col">Results</th>
                                            <th scope="col"></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for report in smtptlsreports %}
                                          <tr {% if report.id not in smtptlsreportsseen %}class="table-warning"{% endif%}>
                                            <th scope="row">{{ report.id }}</th>
                                            <td>
                                              {% for policy in report.smtptls_policies %}
                                                {{policy.policydomain.fqdn}}<br>
                                              {% endfor %}
                                            </td>
                                            <td>{{ report.organisation }}</td>
                                            <td>
                                              {% set sts_type = false %}
                                              {% set sts_version = true %}
                                              {% set sts_mode = true %}
                                              {% for policy in report.smtptls_policies %}
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}secondary{% else %}success{% endif %}">{{ policy.summarysuccessfulcount }} Sucessful</span>
                                                  <span class="btn btn-sm btn-{% if policy.summarysuccessfulcount == 0 %}danger{% else %}success{% endif %}">{{ policy.summaryfailedcount }} Failed</span>
                                                  {% if policy.policytype == 'no-policy-found' %}
                                                    <span class="btn btn-sm btn-danger">no-policy-found</span>
                                                  {% else %}
                                                    {% if policy.policystringversion == 'STSv1' %}
                                                      <span class="btn btn-sm btn-success">STSv1</span>
                                                    {% endif %}
                                                    <span class="btn btn-sm btn-{% if policy.policystringmode == 'enforce' %}success{% elseif policy.policystringmode == 'testing' %}warning{% else %}danger{% endif %}">{{ policy.policystringmode }}</span>
                                                  {% endif %}
                                              <br>
                                              {% endfor %}
                                            </td>
                                            <td><a href="{{ path('app_smtptls_reports_report', {report: report.id}) }}" class="btn btn-sm btn-primary">Open Report</a></td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_smtptls_reports') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                  {% if is_granted('ROLE_ADMIN') %}
                  <div class="row">
                    <div class="col-12 col-xl-12 mb-12 mb-lg-12">
                        <div class="card">
                            <h5 class="card-header">Latest logs</h5>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                          <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Date &amp; Time</th>
                                            <th scope="col">Message</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        {% for log in logs %}
                                          <tr>
                                            <th scope="row">{{ log.id }}</th>
                                            <td>{{ log.time|date("d-M-Y H:i:s") }}</td>
                                            <td>{{ log.message }}</td>
                                          </tr>
                                        {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <a href="{{ path('app_logs') }}" class="btn btn-block btn-secondary">View all</a>
                            </div>
                        </div>
                    </div>
                  </div>
                {% endif %}
{% endblock %}
