{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "Users"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Name"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Domains"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Verified"|trans }}</th>
					<th>{{ "Type"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for user in users %}
				<tr>
					<td><span class="text-secondary">{{ user.id }}</span></td>
					<td>{{ user.firstname }} {{ user.lastname }}</td>
					<td class="d-none d-lg-table-cell">
						{% for domain in user.domains %}
							{% if loop.index == 0 and user.domains|length > 0 %},{% endif %}
								<span class="text-secondary">{{ domain.fqdn }}</span>
							{% if loop.index != loop.length %},{% endif %}
						{% endfor %}
					</td>
					<td class="d-none d-lg-table-cell">
						{% if user.verified %}
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-square-check text-green"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.333 2c1.96 0 3.56 1.537 3.662 3.472l.005 .195v12.666c0 1.96 -1.537 3.56 -3.472 3.662l-.195 .005h-12.666a3.667 3.667 0 0 1 -3.662 -3.472l-.005 -.195v-12.666c0 -1.96 1.537 -3.56 3.472 -3.662l.195 -.005h12.666zm-2.626 7.293a1 1 0 0 0 -1.414 0l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.32 1.497l2 2l.094 .083a1 1 0 0 0 1.32 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z" /></svg>
						{% else %}
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" class="icon icon-tabler icons-tabler-filled icon-tabler-square-x text-red"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M19 2h-14a3 3 0 0 0 -3 3v14a3 3 0 0 0 3 3h14a3 3 0 0 0 3 -3v-14a3 3 0 0 0 -3 -3zm-9.387 6.21l.094 .083l2.293 2.292l2.293 -2.292a1 1 0 0 1 1.497 1.32l-.083 .094l-2.292 2.293l2.292 2.293a1 1 0 0 1 -1.32 1.497l-.094 -.083l-2.293 -2.292l-2.293 2.292a1 1 0 0 1 -1.497 -1.32l.083 -.094l2.292 -2.293l-2.292 -2.293a1 1 0 0 1 1.32 -1.497z" /></svg>
						{% endif %}
					</td>
					<td>
						{% for role in user.roles %}
							{% if role == "ROLE_ADMIN" %}
								<span class="text-red">Admin</span>
							{% elseif role == "ROLE_USER" %}
								<span class="text-secondary">User</span>
							{% endif %}
							{% if loop.index != loop.length %},{% endif %}
						{% endfor %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_users_edit', {user: user.id}) }}">{{ "Edit"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_users_delete', {user: user.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'base/pagination.html.twig' with { basepath: path('app_users')} %}
</div>
{% endblock %}
