{% extends 'base.html.twig' %}

{% block title %}Reports{% endblock %}

{% block body %}
                <div class="row">
                    <div class="col-12 col-xl-12 mb-4 mb-lg-0">
                        <div class="card">
                            <h5 class="card-header">DMARC Reports</h5>
                            <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-sm table-compact">
                              <thead>
                                <tr>
                                  <th class="d-none d-md-table-cell" scope="col">Id</th>
                                  <th scope="col">Date</th>
                                  <th class="d-none d-md-table-cell"  scope="col">Messages</th>
                                  <th scope="col">Domain</th>
                                  <th class="d-none d-md-table-cell"  scope="col">Reporter</th>
                                  <th class="d-none d-lg-table-cell" scope="col">External Id</th>
                                  <th scope="col">Results</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                              {% for report in reports %}
                                <tr {% for user in report.seen %}{% else %}class="table-warning"{% endfor %}>
                                  <th class="d-none d-md-table-cell" scope="row">{{ report.id }}</th>
                                  <td>
                                    <div class="clearfix">
                                      {{ report.begintime|date("Y-m-d H:i:s")|replace({ '00:00:00': '', '23:59:59': '' }) }}
                                      {% if report.begintime|date("Y-m-d") != report.endtime|date("Y-m-d") %}
                                        <span class="d-none d-lg-inline">
                                          .. 
                                          {{ report.endtime|date("Y-m-d H:i:s")|replace({ '00:00:00': '', '23:59:59': '' }) }}
                                        </span>
                                      {% endif %}
                                    </div>
                                  </td>
                                  <td class="d-none d-md-table-cell" >{{ report.dmarc_records.count }}</td>
                                  <td>{{ report.domain.fqdn }}</td>
                                  <td class="d-none d-md-table-cell">{{ report.organisation }}</td>
                                  <td class="d-none d-lg-table-cell" title="{{ report.externalid }}">{{ report.externalid|slice(0,8) }}...</td>
                                  <td class="text-nowrap">
                                    {% set dkim_pass = true %}
                                    {% set spf_pass = true %}
                                    {% for record in report.dmarc_records %}
                                        {% if record.policydkim != "pass" %}
                                          {% set dkim_pass = false %}
                                        {% endif %}
                                        {% if record.policyspf != "pass" %}
                                          {% set spf_pass = false %}
                                        {% endif %}
                                    {% endfor %}
                                    <span class="badge badge-pill text-bg-{% if spf_pass %}success{% else %}danger{% endif %}">SPF</span>
                                    <span class="badge badge-pill text-bg-{% if dkim_pass %}success{% else %}danger{% endif %}">DKIM</span>
                                  </td>
                                  <td class="text-nowrap">
                                    <a href="{{ path('app_dmarc_reports_report', {report: report.id}) }}" class="link-primary px-2" title="View details">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                                      </svg></a>
                                    <a href="{{ path('app_dmarc_reports_delete', {report: report.id}) }}" class="link-danger" title="Delete entry ..." onclick="return confirm('{{'Are you sure? this can not be undone'|trans}}');">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                      </svg></a>
                                  </td>
                                </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                      </div>
                      <div>
                        <span class="d-flex justify-content-center">
                        {% if pages.prev %}
                          <a href="{{ path('app_dmarc_reports', {page: pages.page - 1, perpage: pages.perpage }) }}" class="btn btn-sm btn-secondary">&lt;</a>
                        {% else %}
                          <a href="#" class="btn btn-sm btn-light" disabled>&lt;</a>
                        {% endif %}
                        &nbsp;
                        {% if pages.next %}
                          <a href="{{ path('app_dmarc_reports', {page: pages.page + 1, perpage: pages.perpage }) }}" class="btn btn-sm btn-secondary">&gt;</a>
                        {% else %}
                          <a href="#" class="btn btn-sm btn-light" disabled>&gt;</a>
                        {% endif %}
                        </span>
                    </div>
                  </div>
                </div>
              </div>
{% endblock %}
