{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "DMARC Reports"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Messages"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Domain"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Date"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Reporter"|trans }}</th>
					<th>{{ "SPF"|trans }}</th>
					<th>{{ "DKIM"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for report in reports %}
				<tr>
					<td>
						<span class="text-secondary">{{ report.id }}</span>
						{% if app.user in report.seen %}{% else %}<span class="badge bg-yellow"></span>{% endif %}
					</td>
					<td><span class="badge bg-blue me-1 text-white">{{ report.dmarc_records.count }}</span></td>
					<td class="d-none d-lg-table-cell">{{ geoip('country',report.domain.fqdn|domain2ip) }}</td>
					<td class="d-none d-lg-table-cell">{{ report.begintime|date("d-M-Y H:i:s") }}</td>
					<td class="d-none d-lg-table-cell">{{ report.organisation }}</td>
						{% set dkim_pass_count = 0 %}
						{% set dkim_fail_count = 0 %}
						{% set spf_pass_count = 0 %}
						{% set spf_fail_count = 0 %}
						{% for record in report.dmarc_records %}
							{% if record.policydkim == "pass" %}
								{% set dkim_pass_count = dkim_pass_count + 1 %}
							{% else %}
								{% set dkim_fail_count = dkim_fail_count + 1 %}
							{% endif %}
							{% if record.policyspf == "pass" %}
								{% set spf_pass_count = spf_pass_count + 1 %}
							{% else %}
								{% set spf_fail_count = spf_fail_count + 1 %}
							{% endif %}
						{% endfor %}
					<td>
						{% if dkim_pass_count > 0 %}<span class="badge bg-green  me-1 text-white">{{ dkim_pass_count }}</span>{% endif %}
						{% if dkim_fail_count > 0 %}<span class="badge bg-red  me-1 text-white">{{ dkim_fail_count }}</span>{% endif %}
					</td>
					<td>
						{% if spf_pass_count > 0 %}<span class="badge bg-green  me-1 text-white">{{ spf_pass_count }}</span>{% endif %}
						{% if spf_fail_count > 0 %}<span class="badge bg-red  me-1 text-white">{{ spf_fail_count }}</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_dmarc_reports_report', {report: report.id}) }}">{{ "Open"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_dmarc_reports_delete', {report: report.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'base/pagination.html.twig' with { basepath: path('app_dmarc_reports') } %}
</div>
{% endblock %}
