{% extends 'base/page.html.twig' %}

{% block body %}
<div class="card">
	<div class="card-header">
		<h3 class="card-title">{{ "SMTP-TLS Reports"|trans }}</h3>
	</div>
	<div class="table-responsive">
		<table class="table card-table table-vcenter text-nowrap datatable">
			<thead>
				<tr>
					{# <th class="w-1"><input class="form-check-input m-0 align-middle" type="checkbox" aria-label="Select all invoices"></th> #}
					<th class="w-1">{{ "Id"|trans }}</th>
					<th>{{ "Messages"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Domain"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Date"|trans }}</th>
					<th class="d-none d-lg-table-cell">{{ "Reporter"|trans }}</th>
					<th>{{ "Policy"|trans }}</th>
					<th>{{ "Type"|trans }}</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
{% for report in reports %}
				<tr>
					<td>
						<span class="text-secondary">{{ report.id }}</span>
						{% if app.user in report.seen %}{% else %}<span class="badge bg-yellow"></span>{% endif %}
					</td>
					<td><span class="badge bg-blue me-1 text-white">{{ report.smtptls_policies.count }}</span></td>
					<td class="d-none d-lg-table-cell">{{ report.domain.fqdn }}</td>
					<td class="d-none d-lg-table-cell">{{ report.begintime|date("d-M-Y H:i:s") }}</td>
					<td class="d-none d-lg-table-cell">{{ report.organisation }}</td>
						{% set successfulcount = 0 %}
						{% set failedcount = 0 %}
						{% set sts = 0 %}
						{% set sts_v_empty = 0 %}
						{% set sts_v1 = 0 %}
						{% set tlsa = 0 %}
						{% set mode_enforce = 0 %}
						{% set mode_testing = 0 %}
						{% set mode_disabled = 0 %}
						{% for policy in report.smtptls_policies %}
							{% set successfulcount = successfulcount + policy.summarysuccessfulcount %}
							{% set failedcount = failedcount + policy.summaryfailedcount %}
							{% if policy.policytype == 'sts' %}
								{% set sts = sts + 1 %}
								{% if policy.policystringversion == 'STSv1' %}
									{% set sts_v1 = sts_v1 + 1 %}
								{% else %}
									{% set sts_v_empty = sts_v_empty + 1 %}
								{% endif %}
								
								{% if policy.policystringmode == 'enforce' %}
									{% set mode_enforce = mode_enforce + 1 %}
								{% elseif policy.policystringmode == 'testing' %}
									{% set mode_testing = mode_testing + 1 %}
								{% else %}
									{% set mode_disabled = mode_disabled + 1 %}
								{% endif %}
							{% endif %}
							{% if policy.policytype == 'tlsa' %}
								{% set tlsa = tlsa + 1 %}
							{% endif %}
						{% endfor %}
					<td>
						{% if successfulcount > 0 %}<span class="badge bg-green  me-1 text-white">{{ successfulcount }}</span>{% endif %}
						{% if failedcount > 0 %}<span class="badge bg-red  me-1 text-white">{{ failedcount }}</span>{% endif %}
					</td>
					<td>
						{% if sts > 0 %}<span class="badge bg-green  me-1 text-white">STS</span>{% endif %}
						{% if sts_v_empty > 0 %}<span class="badge bg-red  me-1 text-white">NoVersion</span>{% endif %}
						{% if sts_v1 > 0 %}<span class="badge bg-green  me-1 text-white">STSv1</span>{% endif %}
						{% if tlsa > 0 %}<span class="badge bg-green  me-1 text-white">TLSA</span>{% endif %}
						{% if mode_enforce > 0 %}<span class="badge bg-green  me-1 text-white">Enforce</span>{% endif %}
						{% if mode_testing > 0 %}<span class="badge bg-yellow  me-1 text-white">Testing</span>{% endif %}
						{% if mode_disabled > 0 %}<span class="badge bg-red  me-1 text-white">Disabled</span>{% endif %}
					</td>
					<td class="text-end">
						<span class="dropdown">
							<button class="btn dropdown-toggle align-text-top"{# data-bs-boundary="viewport"#} data-bs-toggle="dropdown">{{ "Actions"|trans }}</button>
							<div class="dropdown-menu dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="{{ path('app_smtptls_reports_report', {report: report.id}) }}">{{ "Open"|trans }}</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item " href="{{ path('app_smtptls_reports_delete', {report: report.id}) }}"><span class="text-red">{{ "Delete"|trans }}</span></a>
							</div>
						</span>
					</td>
				</tr>
{% endfor %}
			</tbody>
		</table>
	</div>
	{% include 'base/pagination.html.twig' with { basepath: path('app_smtptls_reports') } %}
</div>
{% endblock %}
